{% extends "base.html" %}
{% block title %} Simple Ecommerce - Sobre mi{% endblock %}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mt-4">Sobre mi</h1>
            <hr>
            <img  class="img-fluid rounded" src="http://placehold.it/150x200" alt="">
            <hr>
            <p class="lead"> text text texto</p>
            <p class="lead"> text text texto</p>
            <p class="lead"> text text texto</p>
            <p class="lead"> text text texto</p>
            <p class="lead"> text text texto</p>
            <p class="lead"> text text texto</p>


        </div>
    </div>
</div>
{% endblock %}